@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Import Bootstrap variables
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

// Override Bootstrap variables
$card-border-width: 1px;
$card-border-color: #e9eaed;

// Import the rest of Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: 'Noto Sans', sans-serif;
}

body {
    @apply tw-min-h-screen;
}

.duoicon-primary-layer {
    @apply tw-text-sky-900;
}

.duoicon-secondary-layer {
    @apply tw-text-sky-500;
}
